[Desktop Entry]
Version=1.0
Type=Application
Name=Hesh
Comment=Develop and test web and Android devices
Exec=hesh
Icon=hesh
Terminal=false
StartupNotify=true
StartupWMClass=hesh
Categories=Development;
Keywords=device;web;android;emulator;
